<div class="container" id="navcontainer" >
<div class="sixteen columns" id="navigation">
    <div class="head">
        <h1>
        <a href="{{ "/" | prepend: site.baseurl }}" class="nav">{{ site.title }}</a>
        </h1>
    </div>
    {% for page in site.pages %} {% if page.title %}
        <a href="{{ page.url | prepend: site.baseurl }}" class="nav">
            <div class="navbar">{{ page.title }}</div>
        </a>
    {% endif %} {% endfor %}
    <a href="{{ "/blog" | prepend: site.baseurl }}" class="nav"><div class="navbar">Blog</div></a>
</div>
</div>
<hr/>
