/* STYLES FOR RESPONSIVE PAGE */

/* TAKEN FROM SKELETON FRAMEWORK */

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0;}
    .container .column,
    .container .columns                         { float: left; display: inline-block; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Base Grid */
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

	/* OWN CODE */
	.container .navbar	                { width: 180px; float: left; text-align: center;}

	.container .head		        { width: 360px; float: left; text-align: center;}

	.nav-menu                               {display:none;}
	#pic					{ margin-left: 20px; }

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }

        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }
		
		/* OWN CODE */
	.container .navbar		            { width: 133px; float: left; text-align: center;}
	.container .head	                    { width: 300px; float: left; text-align: center;}
	.nav-menu                                   { display: none; }
	#pic					    { margin-left: 10px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }
		
		/* OWN CODE */
	.container .navbar		              { display: none; }
	.container .head		              { width: 220px; float: left; text-align: center;}
        .nav-options                                  { display: none; }
	.nav-menu                                     { display: block; }
	#pic					      { margin: auto; text-align: center; }
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
	
		/* OWN CODE */
	.container .navbar		              { width: 80px; float: left; text-align: center;} 
	.container .head		              { width: 340px; float: left; text-align: center;}
	.nav-options                                  {display:none;}
	.nav-menu                                     { display: block; }
	#pic					      { margin: auto; text-align: center; }
 }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
